<h1 align="center" >Listing all Articles</h1>

<div align="center">
	<%= will_paginate @articles, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>

 <%= render 'article', obj: @articles %>

 <div align="center">
	 <%= will_paginate @articles, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>
